#bottom {
    display: flex;
    width: 1024px;
    height: 447px;
}

.bottom-left {
    width: 217px;
    background-image: url(../img/bottom-left.png);
    margin-left: -1px;
    position: relative;
}

.bottom-center {
    width: 58%;
    background-image: url(../img/bottom-center.png);
    margin-left: -1px;
}

.bottom-right {
    width: 217px;
    background-image: url(../img/bottom-right.png);
}

.bottom-left>img {
    position: absolute;
    top: 100px;
    left: 50px;
}

.bottom-left #login-icon{
    position: absolute;
    top: 275px;
    left: 74px;
}

.bottom-left #logout-icon{
    position: absolute;
    top: 275px;
    left: 56px;
}
