#login-form {
    position: relative;
}

#login-form img {
    position: absolute;
    top: 120px;
    left: 213px;
    animation:icon 1s infinite alternate;  
}

@keyframes icon{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,5px);}
 }  

#login-form input {
    position: absolute;
    top: 220px;
    left: 110px;
    width: 300px;
    height: 50px;
    border : 4px solid #53006d;
    background: transparent;
    font-size: 30px;
    text-align:center;
    font-family: 'DotGothic16', sans-serif;
}

#login-form button {
    position: absolute;
    top: 280px;
    left: 180px;
    width: 150px;
    height: 50px;
    border : 4px solid #53006d;
    background-color: #efaedc;
    font-size: 30px;
    text-align:center;
    font-family: 'DotGothic16', sans-serif;
    font-weight: 800;
    color: #53006d;
}

#login-form input:lang(ko) {font-family: 'Do Hyeon', sans-serif;}
