#topmenu{
    width: 480px;
    margin-left: 30px;
    padding-top: 73px;
}

#weather {
    float: left;
    height: 30px;
    width: 80%;
    font-size: 17px;
    font-weight: 800;
    font-family: 'DotGothic16', sans-serif;
    color: #53006d;
    padding-left: 10px;
    border-bottom : 4px solid #53006d;
}

#clock {
    float: right;
    height: 30px;
    width: 20%;
    text-align: right;
    font-size: 17px;
    font-weight: 800;
    font-family: 'DotGothic16', sans-serif;
    color: #53006d;
    padding-right: 10px;
    border-bottom : 4px solid #53006d;
}

#todo-list {
    clear: both;
}