@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=DotGothic16&family=Rubik&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #f6d0ee;
  }
    
::-webkit-scrollbar-thumb {
    background: #6cd8ff;
    border-radius: 15px;
  }

::selection {
    background: #ed54c0;
    color: #fff;
 }

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#nintendo {
    width: 1024px;
    height: 974px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-0.5%);
}

/*top*/

#top {
    display: flex;
    height: 441px;
}

.top-left {
    width: 217px;
    background-image: url(../img/top-left.png);
}

.top-center {
    width: 58%;
    background-image: url(../img/top-center.png);
    margin-left: -1px;
}

.top-right {
    width: 217px;
    background-image: url(../img/top-right.png);
    margin-left: -1px;
}

.screen #out-screen {
    position: absolute;
    top: 70px;
    left: 31px;
}

.screen {
    position: relative;
    width: 539px;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/screen.png);
    background-position: center center;
    background-repeat: no-repeat;
}

/*middle*/

#middle {
    width: 1024px;
    height: 76px;
    clear: both;
    background-image: url(../img/middle.png);
    /*line-height: 76pt;*/
}

#middle img {
    display:block; 
    margin:auto;
    padding-top: 22px;
}

/*bottom*/

#bottom {
    display: flex;
    width: 1024px;
    height: 447px;
}

.bottom-left {
    width: 217px;
    background-image: url(../img/bottom-left.png);
    margin-left: -1px;
    position: relative;
}

.bottom-center {
    width: 58%;
    background-image: url(../img/bottom-center.png);
    margin-left: -1px;
}

.bottom-right {
    width: 217px;
    background-image: url(../img/bottom-right.png);
}

.bottom-left>img {
    position: absolute;
    top: 100px;
    left: 50px;
}

.bottom-left #login-icon{
    position: absolute;
    top: 275px;
    left: 74px;
}

.bottom-left #logout-icon{
    position: absolute;
    top: 275px;
    left: 56px;
}

/*login-form*/

#login-form {
    position: relative;
}

#login-form img {
    position: absolute;
    top: 120px;
    left: 213px;
    animation:icon 1s infinite alternate;  
}

@keyframes icon{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,5px);}
 }  

#login-form input {
    position: absolute;
    top: 220px;
    left: 110px;
    width: 300px;
    height: 50px;
    border : 4px solid #53006d;
    background: transparent;
    font-size: 30px;
    text-align:center;
    font-family: 'DotGothic16', sans-serif;
}

#login-form button {
    position: absolute;
    top: 280px;
    left: 180px;
    width: 150px;
    height: 50px;
    border : 4px solid #53006d;
    background-color: #efaedc;
    font-size: 30px;
    text-align:center;
    font-family: 'DotGothic16', sans-serif;
    font-weight: 800;
    color: #53006d;
}

#login-form input:lang(ko) {font-family: 'Do Hyeon', sans-serif;}

/*mu*/
.bottom-right #arrowbtn {
    position: relative;
}

#arrowbtn #btn1{
    position: absolute;
    transform: rotate( 180deg );
    top: 150px;
    left: -5px;
}

#arrowbtn #btn2{
    position: absolute;
    transform: rotate( 270deg );
    left: 62px;
    top: 83px;
}

#arrowbtn #btn3{
    position: absolute;
    top: 150px;
    left: 129px;
}

#arrowbtn #btn4{
    position: absolute;
    transform: rotate( 90deg );
    left: 63px;
    top: 217px;
}

.bar1,.bar2 {
    color: #53006d;
    padding: 4px 4px 4px 10px;
    font-family: 'Do Hyeon', sans-serif;
}

.barBg {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    top: 300px;
    left: -5px;
    width: 191px;
    height: 30px;
    background-image: url(../img/barBg.png);
}

#music {
    position: relative;
}

#music img  {
    position: absolute;
    top: 145px;
    left: 57px;
}

.marquee {
    position:relative;
  }
  
  .marquee p:after {
    content:"";
    white-space:nowrap;
    padding-right:50px;
  }
  
  .barBg span {
    margin:0;
    margin-left: -20px;
    padding-left:220px;
    display:inline-block;
    white-space:nowrap;
      -webkit-animation-name:marquee;
      -webkit-animation-timing-function:linear;
      -webkit-animation-duration:5s;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-name:marquee;
      -moz-animation-timing-function:linear;
      -moz-animation-duration:5s;
      -moz-animation-iteration-count:infinite;
      -ms-animation-name:marquee;
      -ms-animation-timing-function:linear;
      -ms-animation-duration:5s;
      -ms-animation-iteration-count:infinite;
      -o-animation-name:marquee;
      -o-animation-timing-function:linear;
      -o-animation-duration:5s;
      -o-animation-iteration-count:infinite;
      animation-name:marquee;
      animation-timing-function:linear;
      animation-duration:5s;
      animation-iteration-count:infinite;
  }
  @-webkit-keyframes marquee {
    from   { -webkit-transform: translate(0%);}
    99%,to { -webkit-transform: translate(-100%);}
  }
  @-moz-keyframes marquee {
    from   { -moz-transform: translate(0%);}
    99%,to { -moz-transform: translate(-100%);}
  }
  @-ms-keyframes marquee {
    from   { -ms-transform: translate(0%);}
    99%,to { -ms-transform: translate(-100%);}
  }
  @-o-keyframes marquee {
    from   { -o-transform: translate(0%);}
    99%,to { -o-transform: translate(-100%);}
  }
  @keyframes marquee {
    from   { transform: translate(0%);}
    99%,to { transform: translate(-100%);}
  }

/*todo*/

#greeting {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    text-align:center;
    color: #53006d;
    font-family: 'DotGothic16', sans-serif;
}

#todo-form {
    position: relative;
}

#todo-form input {
    position: absolute;
    top: 210px;
    left: 65px;
    width: 400px;
    height: 50px;
    border: none;
    border-bottom : 4px solid #53006d;
    background: transparent;
    font-size: 25px;
    text-align:center;
    font-family: 'DotGothic16', sans-serif;
}

#todo-form img {
    position: absolute;
    top: 285px;
    left: 233px;
    animation:icon 1s infinite alternate;  
}

#todo-list {
    position: relative;
    top: 5px;
    left: 5px;
    list-style: none;
    width: 465px;
    height: 255px;
    margin-left: 35px;
    padding: 0;
    overflow: auto;
}

#todo-list li {
    width: 442px;
    height: 76px;
    margin-top: 5px;
    line-height: 20px;
    font-size: 18px;
    font-family: 'Do Hyeon', sans-serif;
    color: #53006d;
    background-image: url(../img/lidesign.png);
    padding: 20px 20px 10px 93px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#todo-list button {
    border: none;
    background: transparent;
}

/*screen*/

#topmenu{
    width: 480px;
    margin-left: 30px;
    padding-top: 73px;
}

#weather {
    float: left;
    height: 30px;
    width: 80%;
    font-size: 17px;
    font-weight: 800;
    font-family: 'DotGothic16', sans-serif;
    color: #53006d;
    padding-left: 10px;
    border-bottom : 4px solid #53006d;
}

#clock {
    float: right;
    height: 30px;
    width: 20%;
    text-align: right;
    font-size: 17px;
    font-weight: 800;
    font-family: 'DotGothic16', sans-serif;
    color: #53006d;
    padding-right: 10px;
    border-bottom : 4px solid #53006d;
}

#todo-list {
    clear: both;
}