#greeting {
    position: absolute;
    top: 90px;
    left: 34%;
    text-align:center;
    color: #53006d;
    font-family: 'DotGothic16', sans-serif;
}

#todo-form {
    position: relative;
}

#todo-form input {
    position: absolute;
    top: 210px;
    left: 65px;
    width: 400px;
    height: 50px;
    border: none;
    border-bottom : 4px solid #53006d;
    background: transparent;
    font-size: 25px;
    text-align:center;
    font-family: 'DotGothic16', sans-serif;
}

#todo-form img {
    position: absolute;
    top: 285px;
    left: 233px;
    animation:icon 1s infinite alternate;  
}

#todo-list {
    position: relative;
    top: 5px;
    left: 5px;
    list-style: none;
    width: 465px;
    height: 255px;
    margin-left: 35px;
    padding: 0;
    overflow: auto;
}

#todo-list li {
    width: 442px;
    height: 76px;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Do Hyeon', sans-serif;
    color: #53006d;
    background-image: url(../img/lidesign.png);
    padding: 20px 20px 10px 93px;
}