#top {
    display: flex;
    height: 441px;
}

.top-left {
    width: 217px;
    background-image: url(../img/top-left.png);
}

.top-center {
    width: 58%;
    background-image: url(../img/top-center.png);
    margin-left: -1px;
}

.top-right {
    width: 217px;
    background-image: url(../img/top-right.png);
    margin-left: -1px;
}

.screen #out-screen {
    position: absolute;
    top: 70px;
    left: 31px;
}

.screen {
    position: relative;
    width: 539px;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/screen.png);
    background-position: center center;
    background-repeat: no-repeat;
}
